		<body>	
			<header id="header" id="home">
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="index.html">Home</a></li>
				          <li><a href="admin">Check answers</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->
					</div>
				</div>
			</header>
			<!-- #header -->
			
			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-7 col-md-7">
							<h1>
								How many humans are necessary to <br>
								create a artificial brain?			
							</h1>
						</div>
						<div class="banner-img col-lg-5 col-md-5">
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start feature Area -->
			<section>
				<article class="card-slave">
					<h2 class="text-white text-center">The slave become de master</h2>
					<p class="text-center text-white">Rapid progress in machine learning has raised the prospect that algorithms will one day be able to do most or all of the mental tasks currently performed by humans.</p>
				</article>

				<article class="card-humanity">
					<h2 class="text-white text-center">Oh! The humanity</h2>
					<p class="text-center text-white">If machines surpass humans in intelligence, the fate of humanity may come to depend more on the actions of machines than our own.</p>
				</article>

				<article class="card-billions">
					<h2 class="text-white text-center">But, where is the people?</h2>
					<p class="text-center text-white">Billions are spent making AI more powerful, but it is estimate that fewer than 100 people in the world are working on how to make AI safe.</p>
				</article>
			</section>
			<!-- End feature Area -->

			<section class="need-you">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 need-you-left">
							<h3>We need YOU</h3>
							<h4>Read more about this subject in <a href="https://80000hours.org/problem-profiles/positively-shaping-artificial-intelligence/">here</a> and start to change the world</h4>
						</div>
						<div class="col-lg-5 need-you-right">
							<div class="form">
								<form id="form_message">
									<span class="title-form">What you think about this?</span><br />
									<small>Send us your opinion or suggestions.</small>
									<div class="form-group">
										<input type="text" name="name" id="inputName" class="form-control" required="required" title="Your name" placeholder="Your name">
									</div>
									<div class="form-group">
										<input type="text" name="email" id="inputName" class="form-control" required="required" title="Your email" placeholder="Your email">
									</div>
									<div class="form-group">
										<input type="text" name="subject" id="inputName" class="form-control" required="required" title="Subject" placeholder="Subject">
									</div>
									<div class="form-group">
										<textarea name="message" id="inputMessage" class="form-control" rows="4" required="required" placeholder="Message"></textarea>
									</div>
									<div class="form-group text-center">
										<button type="button" class="btn btn-send" onclick="insert_message()">Send</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>