.form {
	background-color: #9391ff;
	padding: 50px 30px 10px;
	border-radius: 10px;
	margin: 60px 0px;
}

.form input {
	padding: 10px;
	margin-bottom: 20px;
}

.form .btn-send {
	background-color: #9391ff;
	color: #fff;
	font-size: 18px;
	padding: 8px 40px;
}

.form .title-form {
	font-size: 27px;
	color: #fff;
}

.form small {
	color: #fff !important;
}

article {
	padding: 7rem 1rem;
	-webkit-box-shadow: inset 0px 0px 80px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 80px -30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 80px -30px rgba(0,0,0,0.75);
}

article h2 {
	font-size: 4rem;
	margin-bottom: 10px;
}

article p {
	font-size: 1.3rem;
}

/*Card slave*/
.card-slave {
	background-color: #94cefe;
}

/*Card humanity*/
.card-humanity {
	background-color: #66b9ff;
}

/*Card billions*/
.card-billions {
	background-color: #36a4ff;
}




/*Section need you*/
.need-you {
}

.need-you-left {
	margin: 100px 0;
}

.need-you-left h3{
	color: #8785ff;
	font-size: 3em;
}

.need-you-left h5 {
	color: #fff;
}

.need-you-left h3, .need-you-left h5{
	margin: 10px 0;
}