.form {
	background-color: #fff;
	padding: 50px 30px 10px;
	border-radius: 10px;
	margin: 60px 0px;
}

.form input {
	padding: 10px;
	margin-bottom: 20px;
}

.form .btn-send {
	background-color: #9391ff;
	color: #fff;
	font-size: 18px;
	padding: 8px 40px;
}

.form .title-form {
	font-size: 27px;
	color: #9791ff;
}

/*Card billions*/
.card-billions {
	padding: 150px;
	background-color: #38a4ff;
}

.cards {
	-webkit-box-shadow: inset 0px 0px 80px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 80px -30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 80px -30px rgba(0,0,0,0.75);
}

.cards h2 {
	font-size: 4em;
	margin-bottom: 10px;
}

.cards p {
	font-size: 1.3em;
}

/*Card slave*/
.card-slave {
	padding: 150px;
	background-color: #94ceff;
	margin-top: 30px;
}

/*Card humanity*/
.card-humanity {
	padding: 150px;
	background-color: #66b9ff;
}

/*Section need you*/
.need-you-left {
	margin: 100px 0;
}

.need-you-left h3{
	color: #828fff;
	font-size: 3em;
}

.need-you-left h5 {
	color: #8195a7;
}

.need-you-left h3, .need-you-left h5{
	margin: 10px 0;
}